print/stl/.DS_Store
print/.DS_Store
.DS_Store
print/full_export.f3z
firmware/grbl/

# PlatformIO build artefacts
firmware/.pio/
firmware/.vscode/

# Generierte Test-Ausgaben (PNG + SVG)
pipeline/tests/output/

plotter_pipeline.egg-info/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
*.pyc
.venv/

pipeline/input/*
!pipeline/input/testimage.png


.hf_token
output/